@font-face {
    font-family: 'title';
    src: url('egoist_corbeau.woff2') format('woff2'),
         url('egoist_corbeau.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Cedarville Cursive', cursive;
	font-family: 'Righteous', cursive;
	font-family: 'Poiret One', cursive;
	font-family: 'Libre Barcode 39', cursive;
}