.node{
	position:absolute;
	width: 40px;
	height:40px;
   transform: translate(-22px, -23px);
   transition-duration: 150ms;
   overflow: hidden;
	align-items: center;
	border-color: #95edff;
	border-width: 2px;
	border-style: solid;
	border-radius: 50%;
	display:flex;
	justify-content: space-around;
	top:10px;
	color:#95edff;
	background-color: rgba(0, 0, 0, .6);
	z-index: 300
}

.node:hover{
	transform: scale(1.08) translate(-20px, -21px);
	cursor: pointer;
}

.selected{
	transform: scale(1.30) translate(-15px, -15px);
	border-color: orange;
	color: orange;
}

.selected:hover{
	transform: scale(1.30) translate(-15px, -15px);
}
